.main{
    width: 100%;
    background-image: url(../pic/work.jpeg);
    background-position: center;
    background-size:cover;
    height: 1000%;
    position: relative;
    font-family: sans-serif;
}
.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
    margin-bottom:-75px;
}

.navbar .logo{
    width: 160px;
    cursor: pointer;
    margin-top: -3%;
    margin-left: -2%;
}

ul{
    margin-top: -4%;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-top: -3%;
    transition: .4s ease;

}

ul li a:hover{
    color: rgb(182, 5, 179);
}
ol{
    margin-top: 10px;
}

ol li{
    list-style: none;
    padding: 10px 16px;
}

ol li a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-top: -3%;
    transition: .4s ease;

}

ol li a:hover{
    color: rgb(210, 12, 183);
}
h2{
    margin-top: 30px;
    margin-left: 30px;
    color:rgb(210, 12, 183);
}
.p1{
    padding-top: 20px;
    font-style: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 30%;
    font-size: 30px;
    color:rgb(210, 12, 183);

}

.img{
    margin-top: 15px;
    height:200px;
    width:300px;
    margin-bottom: 20px;
    padding-left: 300px;
}
.imge{
    margin-top: 15px;
    height:200px;
    width:300px;
    margin-bottom: 20px;
    padding-left: 40px;
}
.p2{
    padding-top: 20px;
    font-style: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 40%;
    font-size: 30px;
    color:rgb(210, 12, 183);
    

}
.im{
    margin-top: 15px;
    height:200px;
    width:300px;
    margin-bottom: 20px;
    padding-left: 450px;
}
.p3{
    padding-top: 20px;
    font-style: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 40%;
    font-size: 30px;
    color: rgb(210, 12, 183);

}
.p4{
    padding-top: 20px;
    font-style: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 30%;
    font-size: 30px;
    color: rgb(210, 12, 183);

}
p {
    margin-left: 20px;
    color:white;
}
p a{
    margin-left: 38px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-top: -3%;
    transition: .4s ease;
}
p a:hover{
    color: rgb(220, 34, 149);
}